* {
	font-family: Ubuntu;
}

@font-face {
	font-family: 'Roboto';
	src: url('roboto.ttf');
}

html {
	background: url('http://hdwallpaperbackgrounds.net/wp-content/uploads/2016/08/Photo-Wallpaper-1.jpg');
	background-size: 100%;
	font-family: 'roboto';
}

#main {
	position: absolute;
	height: 410;
	width: 820;
	margin: auto;
	top: 0; bottom: 0;
	left: 0; right: 0;
}

#big {
	position: absolute;
	height: 410;
	width: 400;
	margin: auto;
	top: 0; bottom: 0;
	left: 0; right: 420;

	background: #fff;
	opacity: 0.5;
	transition: 0.2s ease;
}

#one {
	position: absolute;
	height: 200;
	width: 200;
	margin: auto;
	top: 0; bottom: 210;
	left: 200; right: 0;

	background: #fff;
	opacity: 0.5;
	transition: 0.2s ease;
}

#two {
	position: absolute;
	height: 200;
	width: 200;
	margin: auto;
	top: 0; bottom: 210;
	left: 620; right: 0;

	background: #fff;
	opacity: 0.5;
	transition: 0.2s ease;
}

#three {
	position: absolute;
	height: 200;
	width: 200;
	margin: auto;
	top: 210; bottom: 0;
	left: 200; right: 0;

	background: #fff;
	opacity: 0.5;
	transition: 0.2s ease;
}

#four {
	position: absolute;
	height: 200;
	width: 200;
	margin: auto;
	top: 210; bottom: 0;
	left: 620; right: 0;

	background: #fff;
	opacity: 0.5;
	transition: 0.2s ease;
}

#big:hover, #one:hover, #two:hover, #three:hover, #four:hover {
	opacity: 0.7;
}

#clock {
	text-align: center;
	font-size: 56;
	margin: 0;
	/* padding-top: 84; */
	padding-top: 20px;
}

#searchbarcontainer {
	width: 400;
	height: 75;
	position: absolute;
	margin: auto;
	background: #fff;
	top: 210;
	border: 0px solid #000;
	border-radius: 2px;
	transition: 0.2s ease;
}

#searchbarcontainertwo {
	width: 400;
	height: 75;
	position: absolute;
	margin: auto;
	background: #fff;
	top: 295;
	border: 0px solid #000;
	border-radius: 2px;
	transition: 0.2s ease;
}

#searchbar {
	font-family: 'roboto';
	font-size: 20;
	width: 380;
	height: 40;
	border: 0px;
	margin: auto;
	position: absolute;
	top: 0; left: 0;
	bottom: 0; right: 0;
	padding-left: 35;
	background-color: #b2b2b2; 
	color: black; 
}

#google {
	width: 20;
	height: 20;
	margin: auto;
	position: absolute;
	bottom: 28; left: 20;
	z-index: 1;
}

#searchbartwo {
	font-family: 'roboto';
	font-size: 20;
	width: 380;
	height: 40;
	border: 0px;
	margin: auto;
	position: absolute;
	top: 0; left: 0;
	bottom: 0; right: 0;
	padding-left: 35;
	background-color: #b2b2b2; 
	color: black; 
}

#text {
	text-align: center;
	padding-top: 15px;
}

ul {
	margin-top: -14;
	list-style-type: none;
	line-height: 22px;
}

.header {
	margin-left: -22;
	margin-top: 30px;
}

a {
	text-decoration: none;
	color: #000;
}

a:hover {
	text-decoration: underline;
}
