body { margin: 0; padding: 0; background-color: black; font-family: helvetica, arial; }
/* main { padding: 5em 1em 1em 1em; } */
header { background: #038067; width: 100%; top: 0; position: fixed; z-index: 10; }
/* header div, main { max-width: 960px; margin: 0 auto; padding: 0 1em 0 1em; } */
#nav { max-width: 960px; margin: 0 auto; padding: 0 1em 0 1em; }
header h1 { float: left; font-family: helvetica, arial; }
header button { text-decoration: none; color: black; }
header li { display: inline-block; margin-right: 1em; }
header li button:hover { /* background-color: #026652; */ border-bottom: solid 3px #000000; margin-bottom: -3px; }
header ul { float: right; list-style-type: none; padding-top: 0px; }
button { background-color: #038067; color: white; padding: 10px; font-size: 16px; border: none; cursor: pointer; margin-top: 0px; }
button p { margin-top: 0px; }
#nav ul li { position: relative; float: left; margin: 0; padding: 0; }
#nav ul li:hover { /*background: #026652; */ }
#nav ul ul { display: none; position: absolute; top: 100%; left: 0; background: #038067; padding: 5px; }
#nav ul ul li { float: none; width: 200px; }
#nav ul ul a { color: white; text-decoration: none; padding: 10px 15px; }
#nav ul ul ul { top: 0; left: 100%; }
#nav ul li:hover > ul { display: block; }
#submenu { background-color: #038067; margin-top: 5px; }
#submenu:hover { /* background-color: #026652; */ border-bottom:solid 3px #000000; }
/* main div */
/* #mainbody { width: 500px; height: 500px; background-color: gray; margin-top: 100px; margin-left: 60px; } */
/*  @media only screen and (max-width: 520px) { header { text-align: center; position: relative; } 
main { padding: 1em; } 
header h1 { float: none;  margin: 0; } 
header ul { float: none; margin: auto;} } */

/* start of image slider */
@keyframes slidy {
    0% { left: 0%; }
    20% { left: 0%; }
    25% { left: -100%; }
    45% { left: -100%; }
    50% { left: -200%; }
    70% { left: -200%; }
    75% { left: -300%; }
    95% { left: -300%; }
    100% { left: -400%; }
    }

/* body { margin: 0; } */ 
div#slider { overflow: hidden; }
div#slider figure img { width: 20%; float: left; }
div#slider figure { position: relative; width: 500%; margin: 0; left: 0; text-align: left; font-size: 0; animation: 30s slidy infinite; }
#slider { width: 470px; margin-top: 125px; border: 6px solid #038067; position: relative; }
/* end of image slider */

#hrid { border: none; height: 6px; color: #038067; /* old IE */ background-color: #038067; /* Modern Browsers */ margin-top: -150px; padding: 0; }
#sdiv { width: 220px; height: 35px; background-color: #038067; color: #038067; margin-top: 190px; border-radius: 3px; position: relative; }

/*____________________- */
#content { background-color: #0c0c0c; color: #0c0c0c; width: 100%; height: 300px; margin-top: -18px; }
#ftitle { width: 250px; height: 250px; padding-top: 10px; padding-left: 60px; margin-right: 75%; }
#stitle { width: 250px; height: 200px; padding-top: 5px; /* margin-left: 530px; */ margin-top: -260px; margin-left: 42.5%; }
#ttitle { width: 250px; height: 200px; margin-left: 75%; margin-top: -196px; }
/* #ftitle { padding-left: 60px; padding-right: -160px; }
#stitle { flex-grow: 2; margin-right: 60px; } */
